@font-face {
    font-family: "Norse";
    src: url("../norse/Norse.otf") format("opentype");
}

body {
    width: 45rem;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    font-family: Norse, sans-serif;
}
